{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-image: url("{% static 'images/bg.jpg' %}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; /* Full viewport height */
            color: white;
        }
    </style>

<h1 class="text-light bg-dark">Nonsense! Easter Eggs & Theories of Sabrina Carpenter's Discography</h1><br/>
<table class="table table-striped table-hover table-bordered table-dark">
  <thead class="table-secondary">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Song Title</th>
      <th scope="col">Referring to Music Video</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Theory</th>
      <th scope="col">ID (click for more info)</th>
    </tr>
  </thead>
  <tbody>
    
{% if records %}
    {% for record in records %}
      <tr>
          <td>{{ record.nickname }}</td>
          <td>{{ record.song }}</td>
          <td>{{ record.music_video }}</td>
          <td>{{ record.time_stamp }}</td>
          <td>{{ record.theory }}</td>
          <td><a href="{% url 'record' record.id %}" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ record.id }}</a></td>
      </tr>
    {% endfor %}

{% endif %}
    
      </tbody>
    </table>


{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
 
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>
</div>
</form>
</div>


{% endif %}
</body>
{% endblock %}
